<ul>
  <% @messages.each do |message| %>
    <li>
      from id: <%= message.sender_id %>
      to id: <%= message.receiver_id %>
      <%= message.content %>
    </li>
  <% end %>
  <li><%= render 'answer_form'%></li>
</ul>

<%= link_to 'Back', inbox_path %>
