
<%= simple_form_for @message do |f| %>
<!-- INPUT NICOLAI FOR PROJECT -->
<% if  %>
  <div class="assign-to-handy-field">
    <%= f.hidden_field :receiver, value: @messages[0].receiver %>
  </div>
<% else %>
  <div class="assign-to-handy-field">
    <%= f.association :receiver, :include_blank => false, collection: User.where.not(id: current_user) %>
  </div>
<% end %>
  <%= f.input 'content' %>
  <%= f.button :submit, 'Send' %>
<% end %>
