<div class="tabs fixed-objects"></div>
<div class="container-inbox bottom-margin-100">
  <% contact = current_user.handy ? "client" : "handyman" %>
  <%= link_to 'Contact a Person', new_chat_room_path, class:"btn btn-default contact-btn" %>
  <% if @chat_rooms.any? %>
    <% @chat_rooms.each do |chat_room| %>
    <% if chat_room.messages.any? %>
    <div class="inbox <%= chat_room.messages.last.user.has_read_message ? "read-message-background" : "unread-message-background" %> " id="chat-<%="#{chat_room.id}"%>">

      <%= image_tag current_user.check_avatar, class:"avatar inbox-avatar-size" %>

      <div class="inbox-body">
        <h3>
          <%= current_user.handy ? chat_room.name[:client].build_user_name : chat_room.name[:handy].build_user_name %>
        </h3>
        <p>
          <%= chat_room.messages.last.user == current_user ? "✓✓" : "" %>
          <%= chat_room.messages.last.content %>
        </p>
      </div>
      <div class="inbox-status text-right">
        <p><%= chat_room.messages.last.created_at.today? ? chat_room.messages.last.created_at.strftime("%k:%M") : chat_room.messages.last.created_at.strftime("%A") %></p>
        <h5 class='status <%= chat_room.messages.last.user.has_read_message ? "read-message" : "unread-message" %>'>
         <% if !chat_room.messages.last.read %> <!-- message.read gets set to true form the other person, because its not individual for each person so it gets setted true as soon as ones sends it from the chatroom -->
         ●
         <% end %>
       </h5>
       <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </p>
    </div>
    <%= link_to '', chat_room_path(chat_room), class:"open-message" %>
  </div>

  <% else %>
  <div class="inbox unread-message-background">
    <%= image_tag current_user.check_avatar, class:"avatar inbox-avatar-size" %>
    <div class="inbox-body">
      <h3>
        <%= current_user.handy ? chat_room.name[:client].build_user_name : chat_room.name[:handy].build_user_name %>
      </h3>
      <p><i>No messages</i></p>
    </div>
    <div class="inbox-status text-right">
      <p><%= chat_room.created_at.today? ? chat_room.created_at.strftime("%k:%M") : chat_room.created_at.strftime("%A") %></p>
      <p>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </p>
    </div>
    <%= link_to '', chat_room_path(chat_room), class:"open-message" %>
  </div>

  <% end %>
  <% end %>
  <% else %>
    <h3>No Chats</h3>
  <% end %>
</div>
 <!-- dummy  -->
