
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 chat-body">
      <div class="chat-header">
        <%= link_to 'Back', chat_rooms_path, class:"to-inbox-btn" %>
        <h4>
          <%= current_user.handy ? @chat_room.name[:client].build_user_name : @chat_room.name[:handy].build_user_name %>
        </h4>
        <% if current_user.handy %>
        <%= image_tag 'client.png', class:"avatar chat-avatar" %>
        <% else %>
        <%= image_tag 'handy.png', class:"avatar chat-avatar" %>
        <% end %>
      </div>
      <div class="messages">
        <% @chat_room.messages.each do |message| %>
        <%= render 'messages/message', message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div id="suggesstion-box"></div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, Message.new ], remote: true do |f| %>
        <%= f.input :content, label: false %>
        <%= f.input :read, as: :hidden, :input_html => { :value => true } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>

<!-- aloglia auto complete  -->

<!-- aloglia auto complete end -->

<!-- search start -->
<script>
  scrollLastMessageIntoView();
  App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
    { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
    {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    });
// autocomplete


document.addEventListener("keyup", (event) => {
  var messageText = document.getElementById("message_content").value;
  if( messageText.includes("@")){
    var result = filter(messageText.split(" "), 0, "@" )[0]

  // aloglia search
  var client = algoliasearch('<%= ENV['AlgoliaApplicationID'] %>', '<%= ENV['AlgoliaSearchOnly'] %>');
  var index = client.initIndex('Project');

        index.search(result, { hitsPerPage: 5, page: 0 })
          .then(function searchDone(content) {

          console.log(content.hits[0].title);
          console.log(content.hits[1].title);
// ajax auto complete
    //   $.ajax({

    //       success: function(data){
    //   $("#suggesstion-box").show();
    //   $("#suggesstion-box").html(data);
    //   $("#message_content").css("background","#FFF");
    // }
    // });
// ajax auto complete
        })
        .catch(function searchFailure(err) {
        console.error(err);
        });


      };
    });
  </script>
  <% end %>

  <style>
  .algolia-autocomplete {
    width: 100%;
  }
  .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
  }
  .algolia-autocomplete .aa-hint {
    color: #999;
  }
  .algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
  }
  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
  }
</style>












