<div class="container-fluid">
  <div class="row">
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>Today</h3>
      </a>
      <a class="tab" href="#">
        <h3>This week</h3>
      </a>
    </div>
  </div>

  <div id="projectAccordion" data-children=".item">
    <div class="projects">
      <% @projects.each do |project| %>
        <div class="item">
          <div class="row">
            <div class="col-xs-12-fluid">
                <div id="proj-<%="#{project.id}"%>" class="project">

                  <a class="accordion-toggle collapsed"data-toggle="collapse" data-parent="#projectAccordion" href="#taskAccordion-<%="#{project.id}"%>" aria-expanded="true" aria-controls="taskAccordion">
                    <i class="fa" aria-hidden="true"></i>
                  </a>

                  <div class="project-card">
                    <div class="card-header">
                      <img class="card-avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
                      <h3><%=project.address%></h3>
                    </div>

                    <div class="card-content">
                      <div class="card-content-details">
                        <div class="card-content-title">
                          <i class="fa fa-wrench" aria-hidden="true"></i>
                          <p class="project-title"> <%= project.title %></p>
                        </div>

                        <div class="card-content-location">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <p class="project-location"> <%= project.location %></p>
                        </div>
                      </div>
                      <div class="card-content-contacts">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        <%= link_to chat_rooms_path, class: "icon-link" do %>
                          <i class="fa fa-comment" aria-hidden="true"></i>
                        <% end %>
                        <i class="fa fa-road fa-x2" aria-hidden="true"></i>
                      </div>
                    </div>
                    <%= link_to "", project_path(project), class: "tag-link" %>
                  </div>
                </div>

            </div>
          </div>

          <div id="taskAccordion-<%="#{project.id}"%>" class="collapse" role="tabpanel">
            <div class="project-tasks">
              <div class="row">
                <% if project.tasks %>
                  <% project.tasks.each do |task| %>

                    <div class="project-task">

                        <div>
                          <%= simple_form_for [project, task], remote: true, html: { id: "form_#{task.id}" } do |f| %>
                            <%= f.input :status, label: false, as: :boolean, input_html: { id: "task-check-#{task.id}", class: "task-check", data: { task_id: task.id } } %>
                          <% end %>
                        </div>


                        <span class="custom-control-description"><%= task.description  %></span>

                        <% if policy_scope(Task) || policy(Task).destroy? %>
                        <div>
                          <%= link_to project_task_path(id: task.id, project_id: project.id), method: :delete  do%>
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          <% end %>
                        </div>
                        <% end %>

                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>





