<div class="project-show-task">
  <span class="gradient-layer gradient-layer-<%= task.id %> <%= "active-layer" if task.status %>"></span>
  <div class="project-show-task-description">
    <%= simple_form_for [project, task], remote: true, html: { id: "form_#{task.id}" } do |f| %>
      <%= f.input :status, label: "#{task.description}", as: :boolean,label_html: {class: ''}, input_html: { id: "task-check-#{task.id}", class: "task-check", data: { task_id: task.id } } %>
    <% end %>
  </div>

  <% if policy_scope(Task) || policy(Task).destroy? %>
    <div id="delete-task">
      <%= link_to project_task_path(project, task), method: :delete  do%>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
</div>



