<ul>
  <% @project.tasks.each do |task| %>
    <li><%= task.title %> </li>
    <li><%= task.description %></li>
    <li><%= task.assigned_to %></li>
    <li><%= task.deadline %></li>
    <% if task.status == true %>
      <p>Task completed</p>
    <% end %>
     <% if task.status == false %>
      <p>Task incomplete</p>
    <% end %>
    <%= link_to 'Delete Task', project_task_path(@task), method: :delete, class: "btn btn-primary" %>
    <%= link_to 'Edit Task', project_task_path(@task) %>
  <% end %>
</ul>


<%= link_to 'Add a Task', project_task_path(task), class: "btn btn-primary" %>
