<div class="navbar-wagon" style="background:<%= background %>; box-shadow:<%= shadow %>;">

  <!-- Left navigation -->


  <div class="navbar-search">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
       <%= image_tag "logo.png" %>
    <% end %>
    <% if user_signed_in? %>
      <a href="#" id="search-icon"><i class="fa fa-search" aria-hidden="true"></i></a>
      <p class="search-bar"> Search</p>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Projects link -->

      <%= link_to projects_path, class: "navbar-wagon-link" do %>
        <i class="fa fa-wrench" aria-hidden="true"></i>
      <% end %>

      <!-- Chat Room link -->
      <%= link_to chat_rooms_path, class: "navbar-wagon-link" do %>
        <i class="fa fa-comment" aria-hidden="true"></i>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.handy %>
            <%= image_tag 'handy.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag 'client.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <% logout_path = destroy_user_session_path %>
              <%= link_to logout_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Customers"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-right hidden-md hidden-lg">
    <% if current_user %>
      <%= link_to projects_path, class: "navbar-wagon-link" do %>
        <i class="fa fa-wrench" aria-hidden="true"></i>
      <% end %>
      <%= link_to chat_rooms_path, class: "navbar-wagon-link" do %>
        <i class="fa fa-comment" aria-hidden="true"></i>
      <% end %>
      <div class="navbar-wagon-xs-dropdown">
        <div class="dropdown">
          <% if current_user.handy %>
              <%= image_tag 'handy.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
              <%= image_tag 'client.png', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <% logout_path = destroy_user_session_path %>
              <%= link_to logout_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

</div>


<% content_for(:after_js) do %>
  <script>
    $( "#search-icon" ).click(e => {
      e.preventDefault();
      $( ".search-bar" ).toggleClass( "active" );
      $(".search-bar").focus();
    });
  </script>
<% end %>


