<!-- nested into project form -->

<div class="nested-fields">
  <%= f.input :title, placeholder: "Enter a task title" %>
  <%= f.input :description, placeholder: "Enter a task description" %>
  <%= f.input :assigned_to, placeholder: "Who is responsible" %>
  <%= f.input :deadline, placeholder: "When is the task due" %>
  <%= f.input :status, as: :boolean do%>
    <%= f.check_box :my_boolean, {}, "true", "false"%>
  <% end %>
  </br>
  <%= link_to_remove_association "remove task", f, class: "btn btn-primary"%>
</div>


