<div class="container">
  <div class="project-show-message">
    <div class="progress-value">
      <div id="circle" data-circle-value="<%= @project.completion_percentage %>">
        <img class="project-show-avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      </div>
    <div class="project-show-message-name"></div>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <i class="fa fa-comment" aria-hidden="true"></i>
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="project-show-message-body">
      <p><strong><%= @project.address %></strong></p>
      <p><%= @project.title %></p>
      <p> <%= @project.description %> </p>
    </div>
    <div class="">
    </div>
  </div>
</div>
<div class="project-show-product">
  <div class='project-show-none'>
    <div class="project-show-none"></div>
      <% if policy(Task).create? || policy(Task).update? || policy(Task).desrtoy?%>
        <%= render 'tasks/task_field', project: @project, task: @task %>
        <%# link_to 'Add a Task', new_project_task_path(@project), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="project-show-product">
  <div class='project-show-product-check'>
    <div class="project-show-product-checkbox"></div>
      <% if policy_scope(Task) || policy(Task).desrtoy? %>
        <%= render 'tasks/index', project: @project %>
      <% end %>
    </div>
  </div>
</div>

      <%= link_to 'Back', projects_path, class: "btn btn-primary" %>

      <%= link_to 'Delete Project', project_path(@project), method: :delete, class: "btn btn-primary" %>


<%=  content_for :after_js do %>

<script>

  $('#circle').circleProgress({
    startAngle: -Math.PI / 4 * 3,
    value: "<%= @project.completion_percentage %>",
    lineCap: 'round',
    fill: {color: '#ffa500'}
  });

  // setTimeout(function() { c.circleProgress('value', 0.7); }, 1000);
  // setTimeout(function() { c.circleProgress('value', 1.0); }, 1100);
  // setTimeout(function() { c.circleProgress('value', 0.5); }, 2100);
</script>

<% end %>


