<div class="container">
<!-- Project header -->

  <div class="project-show-header">
    <div class="project-show-info">
      <div id="circle" data-circle-value="<%= @project.completion_percentage %>">
        <img class="project-show-avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      </div>
      <div class="project-show-contact">
        <h3><%= @project.address%></h3>
        <div class="project-show-contacts">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
          <%= link_to chat_rooms_path, class: "icon-link" do %>
            <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
          <% end %>
          <i class="fa fa-road fa-2x" aria-hidden="true"></i>
       </div>
      </div>
    </div>

    <div class="project-show-appointment">
      <div>
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <h3><%= @project.deadline.strftime(" %a %d/%m/%Y  %H:%M ")  %></h3>
      </div>
    </div>
  </div>

<!-- Caroussel Project Pics -->

  <% if @project.photos? %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"><#/li>
        <% @project.photos.each do |photo| %>
          <% i = 0 %>
          <li data-target="#myCarousel" data-slide-to="#{index + 1}"><#/li>
          <% i += 1 %>
        <% end %>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active"><%= cl_image_tag @project.photos.first.path %></div>

        <% collection = @project.photos[1..-1]  %>
        <% collection.each do |photo| %>
          <div class="item">
            <%= cl_image_tag photo.path %>
          </div>
        <% end %>
      </div>
      <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"><#/span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"><#/span>
        </a>
    </div>
  <% end %>

<!-- Project Description -->

<div class="project-show-body">
  <div class="project-show-title">
    <p class="project-title"> <%= @project.title %></p>
    <p class="project-location"> <%= @project.location %></p>
  </div>
  <div class="project-show-description">
    <p> <%= @project.description %></p>
  </div>
</div>
</div>

  <!-- Add Task -->
<div class= "project-show-add-task">
  <% if policy(Task).create? || policy(Task).destroy?%>
    <%= render 'tasks/task_field', project: @project, task: @task %>
  <% end %>
</div>

<!-- Tasks -->

<div class= "project-show-tasks" id="show-tasks">
  <% @project.tasks.each do |task| %>

    <%= render 'tasks/index', project: @project, task: task %>

  <% end %>
</div>



<%= link_to 'Back', projects_path, class: "btn btn-primary" %>



<%=  content_for :after_js do %>

<script>
  $('#circle').circleProgress({
    startAngle: -Math.PI / 2,
    size: 120,
    value: "<%= @project.completion_percentage %>",
    lineCap: 'round',
    fill: {color: '#5593E3'},
    emptyFill: "rgba(145, 193, 87, .9)",
    thickness: '20',
  });
</script>

<% end %>






