
<div class="container">
<!-- Project header -->

  <%= link_to projects_path(project: @project, anchor: "proj-#{@project.id}") do %>
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
  <% end %>

  <div class="project-show-header">
    <div class="project-show-info">
      <div id="circle" data-circle-value="<%= @project.completion_percentage %>">
        <img class="project-show-avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      </div>
      <div class="project-show-contact">
        <h3><%= @project.address%></h3>
        <div class="project-show-contacts">

            <%= link_to "tel:#{current_user.handy ? @project.client.phone : @project.handy.phone}", class: "icon-link-show icon-z-index" do %>
                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <% end %>

            <%= simple_form_for ChatRoom.new do |f| %>
              <% if current_user.handy %>
                <%= f.input :client_id, as: :hidden, input_html: { :value => @project.client.id } %>
                <%= f.input :handy_id, :as => :hidden, :input_html => { :value => current_user.id } %>
              <% else %>
                <%= f.input :handy_id, :as => :hidden, :input_html => { :value => @project.handy.id } %>
                <%= f.input :client_id, :as => :hidden, :input_html => { :value => current_user.id } %>
              <% end %>
              <%= button_tag('', type: 'submit', class: "icon-link-show icon-z-index") do %>
                <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>

            <%= link_to @project.map_link, class: "icon-link-show icon-z-index", target: :_blank do %>
              <i class="fa fa-road fa-2x" aria-hidden="true"></i>
            <% end %>
       </div>
      </div>
    </div>

    <div class="project-show-appointment">
      <div>
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <h3><%= @project.deadline.strftime(" %a %d/%m/%Y") %></h3>
      </div>
    </div>
  </div>
</div>

  <!-- Caroussel Project Pics -->

    <% if @project.photos? %>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">


          <% collection = @project.photos[1..-1]  %>
          <% if collection.size > 1 %>
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <% collection.each_with_index do |photo, index| %>
              <li data-target="#myCarousel" data-slide-to="<%=index +1%>"></li>
            <% end %>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active"><%= cl_image_tag @project.photos.first.path, class: "img-fluid" %></div>

          <% collection = @project.photos[1..-1]  %>
          <% collection.each do |photo| %>
            <div class="item">
              <%= cl_image_tag photo.path, class: "img-fluid" %>
            </div>
          <% end %>
        </div>

      </div>
    <% end %>


<div class="container container-show">
  <!-- Project Description -->

    <div class="project-show-body">
      <div class="project-show-title">
        <p class="project-title"> <%= @project.title %></p>
        <p class="project-location"> <%= @project.location %></p>
      </div>
      <div class="project-show-description">
        <p> <%= @project.description %></p>
      </div>
    </div>


    <!-- Add Task -->
  <div class= "project-show-add-task">
    <% if policy(Task).create? || policy(Task).destroy?%>
      <%= render 'tasks/task_field', project: @project, task: @task %>
    <% end %>
  </div>

  <!-- Tasks -->

  <div class= "project-show-tasks" id="show-tasks">
    <% @project.tasks.each do |task| %>

      <%= render 'tasks/index', project: @project, task: task %>

    <% end %>
  </div>
</div>








<%=  content_for :after_js do %>

<script>
  $('#myCarousel').carousel();

  $('#circle').circleProgress({
    startAngle: -Math.PI / 2,
    size: 120,
    value: "<%= @project.completion_percentage %>",
    lineCap: 'round',
    fill: {color: '#32B796'},
    emptyFill: '#da552f',
    thickness: '20',
  });

</script>

<% end %>





