<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="show-description">
        <h1><%= @project.title %></h1>
        <h3> <%= @project.status %> </h3>
        <h3> <%= @project.address %> </h3>
        <h3> <%= @project.description %> </h3>
      </div>
      <% if policy_scope(Task) || policy(Task).desrtoy? %>
        <div class="list-group-item checkbox checkbox-circle">
          <input type="checkbox" name="created" id="created2" />
          <label for="created2">
            <%= render 'tasks/index', project: @project %>
          <span class="badge">1</span></label>
        </div>
        <% end %>
        <% if policy(Task).create? || policy(Task).update? || policy(Task).desrtoy?%>
        <div class="list-group-item checkbox checkbox-circle">
          <input type="checkbox" name="created" id="created2" />
          <label for="created2">
            <%= render 'tasks/task_field', project: @project, task: @task %>
            <%# link_to 'Add a Task', new_project_task_path(@project), class: "btn btn-primary" %>
          <span class="badge">1</span></label>
        </div>
      <% end %>

      </br>
      </br>
      <%= link_to 'Back', projects_path, class: "btn btn-primary" %>
      </br>
      </br>
      <%= link_to 'Delete Project', project_path(@project), method: :delete, class: "btn btn-primary" %>
    </div>
  </div>
</div>



