<% content_for :meta_title, "Client Status" %>


  <div class="container-fluid bottom-margin-100">
    <div id="projectAccordion" data-children=".item">
      <div class="clients">
        <% @hash.each do |key, value| %>
        <div class="item">
          <div class="row">
            <div class="col-xs-12">
              <div class="client">

                <% client = User.find(key) %>
                <a class="accordion-toggle collapsed"data-toggle="collapse" data-parent="#projectAccordion" href="#taskAccordion-<%="#{client.id}"%>" aria-expanded="true" aria-controls="taskAccordion">
                  <i class="fa" aria-hidden="true"></i>
                </a>


                <div class="client-card">
                    <div id="circle-client" data-circle-value="<%= ((value.reduce(:+))/value.count) %>">
                      <div class="client-image">
                        <%= image_tag Project.find(key).client.check_avatar, class: "avatar-large" %>
                      </div>
                      <div class="client-info">
                        <p>
                          <strong><%= (((value.reduce(:+))/value.count)*100).to_i %>%
                          </strong>
                        </p>
                        <p><%= client.first_name %></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="taskAccordion-<%="#{client.id}"%>" class="collapse" role="tabpanel">

                  <div class="row">
                    <div class="status-title">
                      <% @projects_handy.where(client_id: client.id).each do |project| %>
                      <p><i class="fa fa-home" aria-hidden="true"></i>
                      <%= link_to project.title, project_path(project.id) %></p>
                      <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<%=  content_for :after_js do %>

<script>

  $('#circle-client').circleProgress({
    startAngle: -Math.PI / 2,
    size: 120,
    value: "<%= ((value.reduce(:+))/value.count) %>",
    lineCap: 'round',
    fill: {color: '#32B796'},
    emptyFill: '#da552f',
    thickness: '20',
  });

</script>

<% end %>
<% end %>
