<% content_for :title, "Client Status" %>


  <div class="container-fluid">
    <div id="projectAccordion" data-children=".item">
      <div class="clients">
        <% @hash.each do |key, value| %>
        <div class="item">
          <div class="row">
            <div class="col-xs-12">
              <div class="client">

                <% client = User.find(key) %>
                <a class="accordion-toggle collapsed"data-toggle="collapse" data-parent="#projectAccordion" href="#taskAccordion-<%="#{client.id}"%>" aria-expanded="true" aria-controls="taskAccordion">
                  <i class="fa" aria-hidden="true"></i>
                </a>


                <div class="client-card">
                  <div class="client-card-header">
                    <% avatar_url = client.facebook_picture_url || "client.png" %>
                    <div id="circle-client" data-circle-value="<%= ((value.reduce(:+))/value.count) %>" src="<%= avatar_url %>">
                      <div class="client-image">
                        <%= image_tag avatar_url, class: "avatar-large" %>
                      </div>
                      <div class="text-center">
                        <p>
                          <strong><%= (((value.reduce(:+))/value.count)*100).to_i %>%
                          </strong>
                        </p>
                        <p><%= client.first_name %></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="taskAccordion-<%="#{client.id}"%>" class="collapse" role="tabpanel">

                  <div class="row">
                    <div class="project-title">
                      <% @projects_handy.where(client_id: client.id).each do |project| %>
                      <p><%= project.title %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>



<%=  content_for :after_js do %>

<script>

  $('#circle-client').circleProgress({
    startAngle: -Math.PI / 4 * 3,
    value: "<%= ((value.reduce(:+))/value.count) %>",
    lineCap: 'round',
    fill: {color: '#5593E3'},
    emptyFill: "rgba(145, 193, 87, .9)",
    thickness: '20',
  });

</script>

<% end %>
<% end %>
