<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <title><%= content_for?(:title) ? yield(:title) : "Handy Harry" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:800|Roboto+Condensed" rel="stylesheet">
    </head>
  </head>
  <body>
<!-- jquery auto complete  -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- jquery auto complete  -->
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar', background: "transparent", shadow: "none" %>
    <% else %>
      <%= render 'shared/navbar', background: "#83DACE", shadow: "0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03)" %>
    <% end %>

  <!-- mobile title -->
  <div class="placeholder"></div>
  <% if current_page?(projects_path) %>
    <h2 id="head-title" class="fixed-objects">Projects</h2>
  <% elsif current_page?(chat_rooms_path) %>
    <h2 id="head-title" class="fixed-objects">Chats</h2>
  <% elsif current_page?(status_index_path) %>
    <h2 id="head-title" class="fixed-objects">Status</h2>
  <% elsif current_page?(user_path(current_user)) %>
    <h2 id="head-title" class="fixed-objects">Profile</h2>
  <% end %>

  <!-- search bar in chats and projects -->
    <% if current_page?(projects_path) || current_page?(chat_rooms_path) %>
      <%= render 'shared/search_bar'%>
    <% end %>


  <% if current_page?(projects_path) %>

  <% else %>
    <%= render 'shared/flashes' %>
  <% end %>


    <div class="main">
      <%= yield %>
    </div>
  <!-- optimized navigation on mobile -->
    <%= render 'shared/navigation' %>
  <!-- optimized navigation on mobile -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
