<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HandyHarry</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
<!-- jquery auto complete  -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- jquery auto complete  -->
    <% if current_page?(root_path) %>
      <%= render 'shared/navbar', background: "transparent", shadow: "none" %>
    <% else %>
      <%= render 'shared/navbar', background: "#83DACE", shadow: "0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03)" %>
    <% end %>

    <%= render 'shared/flashes' %>

    <div class="main">
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
