<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- mobile stuff -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Facebook optimization -->
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta property="fb:app_id" content="132880950722117" />

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:800|Roboto+Condensed" rel="stylesheet">
  </head>
  <body class='parallax'>
    <%= render 'shared/navbar', background: "transparent", shadow: "none" %>
    <%= yield %>
    <% unless current_page?(new_user_session_path) %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
